html,body{
    background: url(images/dark-blackboard.png);
    background-color: black;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}

.serif{
    font-family: 'Droid Serif', serif;
}

.infographic{
    margin: 0 auto;
    max-width: 80%;
}

.infographic .title{
    font-size: 54pt;

    color: red;
    margin: 20px 10px 10px 10px;
    padding:0;
}
.infographic .subtitle{
    font-size: 1.6em;
    margin:0;
    padding:0;
}
.infographic .panel{
    margin-top:30px;

    border-top: 15px dotted #e7a61a;
}
.infographic .panel .title{
    font-size:36pt;
    color: lightblue;
    margin-bottom:30px;
}
.infographic .panel .discussion{
    font-size:18pt;
    color: white;
    margin:20px;
}
.infographic .panel .sideComment{
    font-size: 14px;
    color: #ccc;
}

.infographic .panel .iconList{
    text-align: center;
    height: 130px;
    margin: 0 auto;
    width: 440px;
}
.infographic .panel .iconList .icon{
    float: left;
    margin-left: 20px;
}

.infographic .panel .iconWithDescription{
    clear: left;
    margin: 40px auto;
    width: 370px;
}

.infographic .panel .iconWithDescription .icon{
    float:left;
    width:130px;
    text-align:center;
    margin-top:-3px;
}

.infographic .panel .iconWithDescription .description{
    text-align:left;
    width:370px;
}

.infographic .chart{
    width: 600px;
    margin: 0 auto;
}
.infographic .chart .bar{
    font: 10px;
    background-color: steelblue;
    text-align: left;
    padding: 0;
    margin: 5px;
    color: white;
    overflow: visible;
    white-space: nowrap;
}

.citations{
    width: 80%;
    margin: 0 auto;
    text-align:left;
    color: #444;
}
.citations a{
    display:block;
    color: #444;
}